.about-section {
  background-color: #f3f3f3;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-section p {
  margin-left: -5rem;
}

nav {
  font-size: 20px;
}

.contactPage {
  background-color: #f3f3f3;
}

.divvy {
  padding-top: 5rem;
}

.linkedInImage {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 50px;
  margin-left: 30px;
}

.fa-github {
  color: black;
  font-size: 40px;
}

.fa-linkedin {
  color: black;
  font-size: 40px;
  margin-left: 40px;
  border-radius: 100px;
}

/* .linkedInImage {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 30px;
} */
