.main {
  margin-top: 0rem;
  font-family: "Poppins", sans-serif;
}
.about-section {
  /* background-color: #f3f3f3; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  font: lato;
  margin: 0;
}

.about-section p {
  margin-left: -5rem;
}

.aboutPage {
  width: 100%;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.cardDiv {
  padding-bottom: 5rem;
  margin-top: 5rem;
}

nav {
  font-size: 20px;
}

.contactPage {
  width: 100%;
  background-color: #f3f3f3;
  padding: 30px;
  padding-bottom: 10rem;
  margin-right: 50px;
  margin-bottom: -500rem;
  height: 56.5rem;
}

.divvy {
  padding-top: 4.5rem;
}

.homeSvg {
  margin-top: -5rem;
}

.upSideDownSvg {
  margin-top: 0rem;
}

.purpShadow {
  margin-top: -22rem;
}
.linkedInImage {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 50px;
  margin-left: 30px;
}

.fa-github {
  color: black;
  font-size: 40px;
}

.fa-external-link-alt {
  color: black;
}

.fa-linkedin {
  color: black;
  font-size: 40px;
  margin-left: 40px;
  border-radius: 100px;
}

.contactContent {
  background-color: #5000ca;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  margin-top: -3rem;
  font: lato;
  font-weight: bold;
}

/* svg {
  margin-top: -3rem;
  width: 100%;
} */

.topDiv {
  margin-top: 8em;
  margin-bottom: 7rem;
}

.bottomContactSvg {
  margin-left: -1rem;
  margin-top: -12rem;
  width: 102.2%;
}

.btn {
  background-color: #5000ca !important;
  font-weight: bold !important;
  font: lato !important;
}

.blob {
  margin: 0;
  margin-top: -39rem;
  margin-left: 50rem;
  padding: 0;
  width: 400px;
  height: 400px;
  margin-bottom: -20rem;
}

.uppy {
  height: 500px;
}

.contactTopSvg {
  margin-bottom: -3rem;
}

.contact-section {
  padding-bottom: 5rem;
}
